@tailwind utilities;

.checkered {
    background-color: theme("colors.gray.200");
    background-image: linear-gradient(45deg, theme("colors.gray.300") 25%, transparent 25%), linear-gradient(135deg, theme("colors.gray.300") 25%, transparent 25%), linear-gradient(45deg, transparent 75%, theme("colors.gray.300") 75%),
    linear-gradient(135deg, transparent 75%, theme("colors.gray.300") 75%);

    background-size: 20px 20px;
    background-position: 0 0, 10px 0, 10px -10px, 0 10px;
}

.dark .checkered {
    background-color: theme("colors.gray.800");
    background-image: linear-gradient(45deg, theme("colors.gray.700") 25%, transparent 25%), linear-gradient(135deg, theme("colors.gray.700") 25%, transparent 25%), linear-gradient(45deg, transparent 75%, theme("colors.gray.700") 75%),
    linear-gradient(135deg, transparent 75%, theme("colors.gray.700") 75%);
}

.filament-modal-content {
    position: relative;
}

.filament-curator-modal-window {
    @apply !p-0;

    > div {
        @apply space-y-0;
    }

    .filament-modal-header {
        @apply p-4;
    }
}